<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shopnextdoor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginAndRegister.Login"/>
        <activity android:name=".Shop.AccountDetailsShop" />
        <activity android:name=".Customer.AccountDetailsCustomer" />
        <activity android:name=".Customer.PastOrdersCustomer" />
        <activity android:name=".Shop.ViewPastOrdersShop" />
        <activity android:name=".Shop.NewOrderRequests" />
        <activity android:name=".Shop.ShopPendingOrders" />
        <activity android:name=".NavigationBar.HomeCustomerNavigation" />
        <activity android:name=".Customer.ViewActiveOrders" />
        <activity android:name=".Customer.OrderPlaced" />
        <activity android:name=".Customer.HomeCustomer" />
        <activity android:name=".LoginAndRegister.VerificationPending" />
        <activity android:name=".Shop.HomeShop" />
        <activity android:name=".LoginAndRegister.ShopRegister" />
        <activity android:name=".LoginAndRegister.ShopLogin" />
        <activity android:name=".LoginAndRegister.Register" />
        <activity android:name=".Customer.PlaceOrder"/>
        <activity android:name=".LoginAndRegister.WelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Utility.MyFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>